h1{
    color: rgb(29, 84, 237);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(69, 67, 67);
  
}
.container{
    background-color: rgb(183, 184, 185);
}